@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Hover styles for the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.loader {
  width: 100px;
  height: 100px;
  animation: scale 2s infinite;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.027);
  opacity: 0.8;
  animation-timing-function: ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
  position: relative;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 1px;
  animation: crawl 2s linear infinite;
}

@keyframes crawl {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  10% {
    transform: scale(1.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  20% {
    transform: scale(1.6);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  }
  30% {
    transform: scale(1.9);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  }
  40% {
    transform: scale(2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  }
  50% {
    transform: scale(2.2);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.9);
  }
  60% {
    transform: scale(2.3);
    box-shadow: 0 0 70px rgba(0, 0, 0, 1);
  }
  70% {
    transform: scale(2.4);
    box-shadow: 0 0 80px rgba(0, 0, 0, 1);
  }
  80% {
    transform: scale(2.7);
    box-shadow: 0 0 90px rgba(0, 0, 0, 1);
  }
  90% {
    transform: scale(3.2);
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
  }
  100% {
    transform: scale(3.5);
    box-shadow: 0 0 110px rgba(0, 0, 0, 1);
  }
}
